# openocd.main.config
source [find interface/raspberrypi-native.cfg]

# New GPIO mapping syntax
adapter gpio swclk 22
adapter gpio swdio 10
reset_config none

adapter speed 500
transport select swd

# Disable servers cleanly (new syntax)
gdb port disabled
telnet port disabled
tcl port disabled

source [find target/rp2040.cfg]
