# Uses RPi pins: GPIO25 for SWDCLK, GPIO24 for SWDIO, GPIO26 for nRST/RUN
source [find interface/raspberrypi-native.cfg]
bcm2835gpio_swd_nums 22 10
bcm2835gpio_srst_num 26
transport select swd

#bindto 0.0.0.0
#for external access, security risk, do no present in production

# Specify the chip type
source [find target/rp2040.cfg]