[include macros/macros.cfg]

[virtual_sdcard]
path: /home/printer_data/gcodes

[pause_resume]
[display_status]
[exclude_object]



[mcu]
serial: /dev/UART-MAIN
baud: 3000000#250000
restart_method: swdio
openocd_config: /opt/klipper/core/M1/firmware/openocd.main.config

[mcu rpi]
serial: /home/printer_admin/comms/klipper_host_mcu
restart_method: command

[mcu toolhead]
serial: /dev/UART-TOOLHEAD
baud: 3000000#250000
restart_method: swdio
openocd_config: /opt/klipper/core/M1/firmware/openocd.toolhead.config
is_non_critical: True
connect_macro: TOOLHEAD_CONNECT
disconnect_macro: TOOLHEAD_DISCONNECT

[printer]
kinematics: corexy
max_velocity: 800 #can go faster but at lower accelerations
max_accel: 20000#can go higher at higher currents,14000 #limited by input shaper
square_corner_velocity: 7#20 for higher speed prints
max_z_velocity: 15
max_z_accel: 1000



[adxl345]
cs_pin: toolhead:gpio21
spi_bus: spi0_gpio20_gpio23_gpio22#spi0d
axes_map: x,y,z

[adxl345_probe]
chip: adxl345
probe_pin: toolhead:gpio25
int_pin: int1

# Global defaults
tap_thresh: 15000
tap_dur: 0.03
homing_tap_arm_delay: 0.1

# X axis homing profile
x_tap_thresh: 20000
# x_tap_dur: 0.010
x_tap_axes: x

# Y axis homing profile
y_tap_thresh: 15000
# y_tap_dur: 0.010
y_tap_axes: y

enable_z_probe: False


[resonance_tester]
accel_chip: adxl345
probe_points:
    100,100, 20
min_freq: 30
max_freq: 110
hz_per_sec: 2
move_speed: 200

# Set in calibration config file, located in printer_data
[input_shaper]
#shaper_type_x = mzv
#shaper_freq_x = 52.2
#shaper_type_y = zv
#shaper_freq_y = 77.8



[stepper_x]
step_pin: gpio17
dir_pin: !gpio16
enable_pin: !gpio15
microsteps: 64
rotation_distance: 40 #20t * 2mm gt2 pitch
full_steps_per_rotation: 200

#homing_retract_dist: 4 #disbaled due to https://github.com/Klipper3d/klipper/issues/1311
homing_retract_dist: 0
position_endstop: 200
homing_positive_dir: True #home at the right
position_max: 200

endstop_pin: adxl345_probe:x_virtual_endstop
homing_speed: 60


[tmc2130 stepper_x]
cs_pin: rpi:None
spi_bus: spidev6.0


run_current: 0.8
sense_resistor: 0.1
stealthchop_threshold: 0#9999999
interpolate = false

diag0_pin: ^!gpio18
driver_SGT: 2
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 5
driver_HEND: 3



[stepper_y]
step_pin: gpio21
dir_pin: !gpio20
enable_pin: !gpio19
microsteps: 64
rotation_distance: 40 #34t * 2mm gt2 pitch
rotation_distance: 40 #34t * 2mm gt2 pitch
full_steps_per_rotation: 200
#homing_retract_dist: 4 #disbaled due to https://github.com/Klipper3d/klipper/issues/1311
homing_retract_dist: 0



homing_positive_dir: True
position_min: -8
position_endstop: 174
position_max: 174.1



endstop_pin: adxl345_probe:y_virtual_endstop
homing_speed: 60



[tmc2130 stepper_y]
cs_pin: rpi:None
spi_bus: spidev6.1


run_current: 0.8
sense_resistor: 0.1
stealthchop_threshold: 0#9999999
interpolate: false

diag0_pin: ^!gpio22
driver_SGT: 2

driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 5
driver_HEND: 3


[stepper_z]
step_pin: gpio24
dir_pin: !gpio23
enable_pin: !gpio25

microsteps: 64
rotation_distance: 4 #4mm pitch leadscrew
gear_ratio: 12:20, 30:15
full_steps_per_rotation: 200

position_min: -4
position_max: 160

endstop_pin: toolhead:gpio4 #UNUSED PIN
#Load cell probe is not an endstop and doesn't support endstop: prove:z_virtual_endstop. For the time being you'll need to configure your z axis with an MCU pin as its endstop. You won't actually be using the pin but for the time being you have to configure something.
#https://www.klipper3d.org/Load_Cell.html#homing-macros
position_endstop: 0


[tmc2130 stepper_z]
cs_pin: rpi:None
spi_bus: spidev6.2

run_current: 0.7
# hold_current: 0.3
sense_resistor: 0.1
stealthchop_threshold: 0#9999999 #stealthshop quiter but hotter
interpolate: false

driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 2
driver_HEND: 3

#for secondary sensorless homign at top of axis
driver_SGT: 1
diag0_pin: ^!gpio3


[advanced_homing_movement]
axis: z
stepper: stepper_z
driver: tmc2130
# Keep Z on TMC virtual endstop (stall) and use configured endstops on XY.
endstop_source_x: configured
endstop_source_y: configured
direction: max
speed: 15
retract: 10
retract_speed: 20
overshoot: 5


[load_cell_probe]
sensor_type: ads1220
cs_pin: toolhead:gpio7
spi_speed: 512000
spi_bus: spi0_gpio20_gpio23_gpio22
data_ready_pin: toolhead:gpio14
gain: 64
sample_rate: 2000
input_mux: AIN0_AIN1
vref: REF0
# counts_per_gram = 34097.07743
# reference_tare_counts = 1403971
sensor_orientation: inverted
# z_offset = 0.0 #nozzle is probe
force_safety_limit: 100
#   The safe limit for probing force relative to the reference_tare_counts on
#   the load_cell. The default is +/-2Kg.
trigger_force: 30
#   The force that the probe will trigger at. 75g is the default.
#drift_filter_cutoff_frequency: 0.8
#   Enable optional continuous taring while homing & probing to reject drift.
#   The value is a frequency, in Hz, below which drift will be ignored. This
#   option requires the SciPy library. Default: None
#drift_filter_delay: 2
#   The delay, or 'order', of the drift filter. This controls the number of
#   samples required to make a trigger detection. Can be 1 or 2, the default
#   is 2.
#buzz_filter_cutoff_frequency: 100.0
#   The value is a frequency, in Hz, above which high frequency noise in the
#   load cell will be igfiltered outnored. This option requires the SciPy
#   library. Default: None
#buzz_filter_delay: 2
#   The delay, or 'order', of the buzz filter. This controls the number of
#   samples required to make a trigger detection. Can be 1 or 2, the default
#   is 2.
#notch_filter_frequencies: 50, 60
#   1 or 2 frequencies, in Hz, to filter out of the load cell data. This is
#   intended to reject power line noise. This option requires the SciPy
#   library.  Default: None
#notch_filter_quality: 2.0
#   Controls how narrow the range of frequencies are that the notch filter
#   removes. Larger numbers produce a narrower filter. Minimum value is 0.5 and
#   maximum is 3.0. Default: 2.0
tare_time: 0.08
#   The rime in seconds used for taring the load_cell before each probe. The
#   default value is: 4 / 60 = 0.066. This collects samples from 4 cycles of
#   60Hz mains power to cancel power line noise.
speed: 5
samples: 2
sample_retract_dist: 1
lift_speed: 10
samples_result: average
samples_tolerance: 0.100
samples_tolerance_retries: 2



# [bed_tilt]
# points: 
#   160,40
#   160,160
#   40,160
#   40,40  
# speed: 150
# horizontal_move_z: 6

[bed_mesh]
speed: 180
horizontal_move_z: 2
mesh_min: 25, 35
mesh_max: 175, 160
probe_count: 4, 3
# fade_start: 1
# fade_end: 15
# fade_target: 0
adaptive_margin: 5


[thermistor CMFD473F4050HANT]
temperature1: 25
resistance1: 47000
beta: 4150

[thermistor 104JT_XXXX]
temperature1: 25
resistance1: 100000
beta: 4390



[extruder]
step_pin: toolhead:gpio19
dir_pin: !toolhead:gpio18
enable_pin: !toolhead:gpio16

rotation_distance: 34.45  #TODO MAKE VARIABLE (ADD TO CALIBRATION FILE INSTEAD)
gear_ratio: 91:10


microsteps: 16
full_steps_per_rotation: 400 #200 #1.8deg Motor

max_extrude_only_distance: 400
max_extrude_only_velocity: 150.0
max_extrude_only_accel: 10000

nozzle_diameter: 0.4  #TODO MAKE VARIABLE (ADD TO CALIBRATION FILE INSTEAD)
filament_diameter: 1.75

heater_pin: toolhead:gpio10 #HE1
sensor_type: Generic 3950
sensor_pin: toolhead:gpio27

max_power: 0.5
pwm_cycle_time: 0.00001 #50khz, critical otehrwise the votlage ripple (espcaily with thin resitive power cable) kills the stepper driver motor from the votlage swings

# control = mpc
heater_power = 192
cooling_fan = fan

min_temp: -100
max_temp: 265
max_extrude_cross_section: 4
pressure_advance: 0.076  #TODO MAKE VARIABLE (ADD TO CALIBRATION FILE INSTEAD)
min_extrude_temp: 160



[tmc2130 extruder]
cs_pin: toolhead:gpio24
spi_bus: spi0_gpio20_gpio23_gpio22#spi0d
run_current: 0.7
hold_current: 0.4
sense_resistor: 0.1
stealthchop_threshold: 0#9999999 #stelathchop quiter but hotter
interpolate: False

diag0_pin: ^!toolhead:gpio17

driver_TBL: 2
driver_TOFF: 3
driver_HSTRT: 7
driver_HEND: 15


#TODO DEVELOP FILAMENT RUNOUT SENSOR
# [filament_switch_sensor fillament_sensor_chassis]
# pause_on_runout: True
# #runout_gcode: #TODO
# insert_gcode: INSERT_FILLAMENT_SENSOR
# debounce_delay: 0.2
# switch_pin: gpio5

[filament_switch_sensor filament_sensor_toolhead]
pause_on_runout: True
#runout_gcode: #TODO
insert_gcode: INSERT_FILAMENT_SENSOR
debounce_delay: 0.2
switch_pin: !toolhead:gpio3

[gcode_button toolhead_umbilical_unlock_button]
pin: !toolhead:gpio5
press_gcode: TOOLHEAD_UMBILICAL_UNLOCK_BUTTON_PRESSED
release_gcode: TOOLHEAD_UMBILICAL_UNLOCK_BUTTON_RELEASED
debounce_delay: 0

# [gcode_button toolhead_fillament_cuttor_sensor]
# pin: !toolhead:gpio12
# press_gcode: TOOLHEAD_UMBILICAL_UNLOCK_BUTTON_PRESSED
# release_gcode: press_gcode: TOOLHEAD_UMBILICAL_UNLOCK_BUTTON_RELEASED
# debounce_delay: 0



#TODO TEMP SOLOUTION TO PREVENT BED PINS FROM OVERHEATING
[duplicate_pin_override] 
pins: gpio27

[heater_bed]
heater_pin: gpio6
sensor_type: 104JT_XXXX
sensor_pin: gpio27
pwm_cycle_time: 0.05
max_power: 1

# control = mpc
heater_power = 170
cooling_fan = fan

min_temp: -100
max_temp: 130
smooth_time: 0.2


[bed_removal_detector]
# threshold_temp: -15  # Temperature threshold to detect bed removal
interval: 0.1

[verify_heater heater_bed]
hysteresis: 15



[fan]
pin: gpio7
max_power: 1.0
hardware_pwm: True
cycle_time: 0.00005 #20khz
shutdown_speed: 0.0
off_below: 0.0
tachometer_pin: gpio2
tachometer_poll_interval: 0.00025 #20/(2*40000)
kick_start_time: 0.0

[temperature_fan CPU]
pin: gpio11
tachometer_pin: gpio13
max_power: 1
shutdown_speed: 0.0
hardware_pwm: True
cycle_time: 0.00005 #20khz

min_temp: -40
max_temp: 150
sensor_type: temperature_host

control: watermark
target_temp: 65

max_speed: 0.40
#TODO, COMBINED TEMP WITH RP2040 Builtin micro-controller temperature sensor rather than just cm4
kick_start_time: 0.0

[temperature_fan Motor_Drivers]
pin: gpio10
tachometer_pin: gpio14
max_power: 1
shutdown_speed: 0.0
hardware_pwm: True
cycle_time: 0.00005 #20khz

min_temp: -40
max_temp: 150
sensor_type: CMFD473F4050HANT
sensor_pin: gpio26

control: curve
points:
  44.9, 0
  45, 0.25
  70, 0.6
  79.9, 1.0
  #realy audible above 0.6
target_temp: 80

max_speed: 1.0#0.25
min_speed: 0.0
kick_start_time: 0.0


[controller_fan Power_Supply]
pin: gpio9
tachometer_pin: gpio12
max_power: 1.0
shutdown_speed: 0.0
hardware_pwm: True
cycle_time: 0.00005 #20khz

fan_speed: 0.30
idle_timeout: 20

heater: extruder, heater_bed
# stepper: #default stepper is all of them
kick_start_time: 0.0


[temperature_sensor toolhead_fan_air]
sensor_type: CMFD473F4050HANT
sensor_pin: toolhead:gpio29

[temperature_sensor toolhead_extruder_motor]
sensor_type: CMFD473F4050HANT
sensor_pin: toolhead:gpio26


[temperature_fan toolhead_heatsink]
pin: toolhead:gpio9
hardware_pwm: True
cycle_time: 0.00001
tachometer_pin: toolhead:gpio11

max_power: 1.0
min_temp: -50
max_temp: 100

sensor_type: CMFD473F4050HANT
sensor_pin: toolhead:gpio28

control: curve
points:
  37.9, 0
  38, 0.3
  45, 0.85
  50, 1.0
target_temp: 65
min_speed: 0
max_speed: 1
cooling_hysteresis: 1

shutdown_speed: 0.5
kick_start_time: 0.0







[neopixel Left]
pin: gpio4
chain_count: 40
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
output_gamma: 2.2

[neopixel Right]
pin: gpio8
chain_count: 40
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
output_gamma: 2.2



[force_move]
enable_force_move = true #todo disable for production
