#####################################################################
#   Minimal Bed Removed / Attached Macros (no state variable)
#####################################################################

[gcode_macro BED_PROMPT_CLOSE]
description: Close any open UI prompt
gcode:
  RESPOND TYPE=command MSG="action:prompt_end"


[gcode_macro BED_REMOVED]
description: Pause + show message if bed detached during a print
gcode:

  LED_CONNECTED

  {% set is_printing = True %}
    {% set is_printing = (printer.idle_timeout.state == "Printing")
                    or (printer.print_stats.state|default("")|lower == "printing") %}

  { action_respond_info("BED REMOVED") }

  {% if is_printing %}
    {% if not is_paused %}
      #PAUSE
    {% endif %}

    RESPOND TYPE=command MSG="action:prompt_end"
    RESPOND TYPE=command MSG="action:prompt_begin Bed Detached"
    RESPOND TYPE=command MSG="action:prompt_text Bed detached during printing. Print is paused. Reattach the bed to resume."
    # RESPOND TYPE=command MSG="action:prompt_footer_button Close|BED_PROMPT_CLOSE|primary"
    RESPOND TYPE=command MSG="action:prompt_show"

    M117 BED DETACHED - PAUSED
  {% endif %}



[gcode_macro BED_ATTACHED]
description: If paused, ask user if they want to resume
gcode:

  LED_CONNECTED

  {% set is_paused = printer.pause_resume.is_paused|default(False) %}
  {% set print_state = printer.print_stats.state|default("")|lower %}
  {% set is_print_paused = (print_state == "paused") %}

  { action_respond_info("BED ATTACHED") }

  {% if is_paused and is_print_paused %}
    RESPOND TYPE=command MSG="action:prompt_end"
    RESPOND TYPE=command MSG="action:prompt_begin Bed Reattached"
    RESPOND TYPE=command MSG="action:prompt_text Bed has been reattached. Would you like to resume the print?"
        # RESPOND TYPE=command MSG="action:prompt_footer_button Cancel|BED_PROMPT_CLOSE|error"
    RESPOND TYPE=command MSG="action:prompt_footer_button Resume Print|_BED_RESUME_NOW|primary"
    RESPOND TYPE=command MSG="action:prompt_show"

    M117 BED ATTACHED - RESUME?
  {% endif %}


[gcode_macro _BED_RESUME_NOW]
description: (called by UI) close prompt and resume
gcode:
  RESPOND TYPE=command MSG="action:prompt_end"
  RESUME
