
#####################################################################
#   LED Macros Using Python LED_EFFECT Lib. - CB 23/02/2026
#####################################################################

## GCODE MACROS TO CALL FOR EFFECTS

[gcode_macro LED_SHOW_TEMPS]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=preheat_status_hotend
    SET_LED_EFFECT EFFECT=preheat_status_hotend_mirror
    SET_LED_EFFECT EFFECT=preheat_status_bed
    SET_LED_EFFECT EFFECT=preheat_status_bed_mirror
    
# Error and warning / info states
[gcode_macro LED_ERROR]
gcode:
    SET_LED_EFFECT EFFECT=error REPLACE=1 FADETIME=0.5
[gcode_macro LED_WARNING]
gcode:
    SET_LED_EFFECT EFFECT=warning REPLACE=1 FADETIME=0.5
[gcode_macro LED_INFO]
gcode:
    SET_LED_EFFECT EFFECT=info REPLACE=1 FADETIME=0.5

# Printing progress macros
[gcode_macro LED_PRINTING]
gcode:
    SET_LED_EFFECT EFFECT=progress_left REPLACE=1
    SET_LED_EFFECT EFFECT=progress_left_mirror REPLACE=1
    SET_LED_EFFECT EFFECT=progress_right REPLACE=1
    SET_LED_EFFECT EFFECT=progress_right_mirror REPLACE=1
    #No fadetime as should match endstate of setup and want to transition to this quickly
[gcode_macro LED_COMPLETE]
gcode:
    SET_LED_EFFECT EFFECT=complete REPLACE=1 FADETIME=1

[gcode_macro LED_CONNECTED]
# Pulse the info LED effect to indicate connection made
gcode:
    SET_LED_EFFECT EFFECT=connected REPLACE=1 FADETIME=0.5
    UPDATE_DELAYED_GCODE ID=STOP_CONNECTED DURATION=1
# Paired with:
[delayed_gcode STOP_CONNECTED]
gcode:
    SET_LED_EFFECT EFFECT=ready REPLACE=1 FADETIME=0.5

[gcode_macro LED_READY]
gcode:
    SET_LED_EFFECT EFFECT=ready REPLACE=1 FADETIME=1

[gcode_macro LED_SETUP_PROGRESS]
gcode:
    SET_LED_EFFECT EFFECT=setup_left REPLACE=1 FADETIME=1
    SET_LED_EFFECT EFFECT=setup_left_mirror REPLACE=1 FADETIME=1
    SET_LED_EFFECT EFFECT=setup_right REPLACE=1 FADETIME=1
    SET_LED_EFFECT EFFECT=setup_right_mirror REPLACE=1 FADETIME=1


## LED EFFECT DEFINITIONS

# ERROR / WARNING / INFO STATES

[led_effect error]
autostart:              false
frame_rate:             24
smooth_transitions: true
leds:
    neopixel:Left
    neopixel:Right
layers:
    breathing  1 0 add (1,0,0)
    static 1 0 top (0,0,0)

[led_effect warning]
autostart:              false
frame_rate:             24
smooth_transitions: true
leds:
    neopixel:Left
    neopixel:Right
layers:
    breathing  3 0 add (1,.65,0)
    static 1 0 top (0,0,0)

[led_effect info]
autostart:              false
frame_rate:             24
smooth_transitions: true
leds:
    neopixel:Left
    neopixel:Right
layers:
    breathing 3 1 add (0.6, 0.45, 0.3)
    static    1  1 top (0.4, 0.3, 0.2)

[led_effect connected]
autostart:              false
frame_rate:             24
smooth_transitions: true
leds:
    neopixel:Left
    neopixel:Right
layers:
    static  1 0 add (0.8, 0.6, 0.4)

# IDLE / ALWAYS ON

[led_effect ready]
autostart:              true
frame_rate:             24
smooth_transitions: true
leds:
    neopixel:Left
    neopixel:Right
layers:
    breathing 10 1 add (0.2, 0.15, 0.1)
    static    1  1 top (0.4, 0.3, 0.2)



# PRINT SETUP PROGRESS x4 TO ACHIEVE DESIRED EFFECT

[led_effect setup_left]
autostart:              false
frame_rate:             24
recalculate: true
smooth_transitions: true
moving_average_time: 2

leds:
    neopixel:Left (1-20)
layers:
    progress 40 0 add (0.4, 0.3, 0.2),(0.2, 0.15, 0.1)
    static    1  1 top (0.2, 0.15, 0.1)


[led_effect setup_left_mirror]
autostart:              false
frame_rate:             24
recalculate: true
smooth_transitions: true
moving_average_time: 2

leds:
    neopixel:Left (40-21)
layers:
    progress 40 0 add (0.4, 0.3, 0.2),(0.2, 0.15, 0.1)
    static    1  1 top (0.2, 0.15, 0.1)


[led_effect setup_right]
autostart:              false
frame_rate:             24
recalculate: true
smooth_transitions: true
moving_average_time: 2

leds:
    neopixel:Right (1-20)
layers:
    progress 40 0 add (0.4, 0.3, 0.2),(0.2, 0.15, 0.1)
    static    1  1 top (0.2, 0.15, 0.1)


[led_effect setup_right_mirror]
autostart:              false
frame_rate:             24
recalculate: true
smooth_transitions: true
moving_average_time: 2

leds:
    neopixel:Right (40-21)
layers:
    progress 40 0 add (0.4, 0.3, 0.2),(0.2, 0.15, 0.1)
    static    1  1 top (0.2, 0.15, 0.1)




# PRINT PROGRESS x4 TO ACHIEVE DESIRED EFFECT

[led_effect progress_left]
autostart:              false
frame_rate:             24
smooth_transitions: true
moving_average_time: 0.30

leds:
    neopixel:Left (1-20)
layers:
    progress 40 0 add (0.6, 0.45, 0.3),(0.4, 0.3, 0.2)
    static  1 0 top (0.4, 0.3, 0.2)

[led_effect progress_left_mirror]
autostart:              false
frame_rate:             24
smooth_transitions: true
moving_average_time: 0.30

leds:
    neopixel:Left (40-21)
layers:
    progress 40 0 add (0.6, 0.45, 0.3),(0.4, 0.3, 0.2)
    static  1 0 top (0.4, 0.3, 0.2)

[led_effect progress_right]
autostart:              false
frame_rate:             24
smooth_transitions: true
moving_average_time: 0.30

leds:
    neopixel:Right (1-20)
layers:
    progress 40 0 add (0.6, 0.45, 0.3),(0.4, 0.3, 0.2)
    static  1 0 top (0.4, 0.3, 0.2)

[led_effect progress_right_mirror]
autostart:              false
frame_rate:             24
smooth_transitions: true
moving_average_time: 0.30

leds:
    neopixel:Right (40-21)
layers:
    progress 40 0 add (0.6, 0.45, 0.3),(0.4, 0.3, 0.2)
    static  1 0 top (0.4, 0.3, 0.2)

# Print complete

[led_effect complete]
autostart:              false
frame_rate:             24
smooth_transitions: true
leds:
    neopixel:Left
    neopixel:Right
layers:
    breathing 5 1 add (.3, .5, .12)
    static 1 1 top (.3, 0.5, .12)

