
#####################################################################
#   LED Macros Using Python LED_EFFECT Lib. - CB 23/02/2026
#####################################################################

## GCODE MACROS TO CALL FOR EFFECTS

# For delayed timeout (switch effects off):


[gcode_macro LED_TIMEOUT_STATE]
variable_minutes: -1
variable_laststate: "LED_READY"
gcode:

[gcode_macro LED_RESUME]
gcode:
    {% set e = printer["gcode_macro LED_TIMEOUT_STATE"].laststate|string %}

    {% if e == "LED_READY" %}
    LED_READY
    {% elif e == "LED_ERROR" %}
    LED_ERROR
    {% elif e == "LED_WARNING" %}
    LED_WARNING
    {% elif e == "LED_INFO" %}
    LED_INFO
    {% elif e == "LED_SETUP_PROGRESS" %}
    LED_SETUP_PROGRESS
    {% elif e == "LED_PRINTING" %}
    LED_PRINTING
    {% elif e == "LED_COMPLETE" %}
    LED_COMPLETE
    {% endif %}

[gcode_macro LED_TIMEOUT_SET]
gcode:
    {% set m = params.M|default(-1)|float %}

    SET_GCODE_VARIABLE MACRO=LED_TIMEOUT_STATE VARIABLE=minutes VALUE={m}
    LED_RESUME


[gcode_macro LED_TIMEOUT]
gcode:
    {% set m = printer["gcode_macro LED_TIMEOUT_STATE"].minutes|float %}
    
    UPDATE_DELAYED_GCODE ID=LED_TIMEOUT_HANDLER DURATION=0

    {% if m > 0 %}
        UPDATE_DELAYED_GCODE ID=LED_TIMEOUT_HANDLER DURATION={m * 60}
    {% elif m == 0 %}
        STOP_LED_EFFECTS FADETIME=0.25
    {% endif %}


[delayed_gcode LED_TIMEOUT_HANDLER]
gcode:
    STOP_LED_EFFECTS FADETIME=0.25


    
# Error and warning / info states
[gcode_macro LED_ERROR]
gcode:
    SET_GCODE_VARIABLE MACRO=LED_TIMEOUT_STATE VARIABLE=laststate VALUE="'LED_ERROR'"
    SET_LED_EFFECT EFFECT=error REPLACE=1 FADETIME=0.25
    LED_TIMEOUT
[gcode_macro LED_WARNING]
gcode:
    SET_GCODE_VARIABLE MACRO=LED_TIMEOUT_STATE VARIABLE=laststate VALUE="'LED_WARNING'"
    SET_LED_EFFECT EFFECT=warning REPLACE=1 FADETIME=0.25
    LED_TIMEOUT
[gcode_macro LED_INFO]
gcode:
    SET_GCODE_VARIABLE MACRO=LED_TIMEOUT_STATE VARIABLE=laststate VALUE="'LED_INFO'"
    SET_LED_EFFECT EFFECT=info REPLACE=1 FADETIME=0.25
    LED_TIMEOUT

# Printing progress macros
[gcode_macro LED_PRINTING]
gcode:
    SET_GCODE_VARIABLE MACRO=LED_TIMEOUT_STATE VARIABLE=laststate VALUE="'LED_PRINTING'"
    SET_LED_EFFECT EFFECT=progress_left REPLACE=1
    SET_LED_EFFECT EFFECT=progress_left_mirror REPLACE=1
    SET_LED_EFFECT EFFECT=progress_right REPLACE=1
    SET_LED_EFFECT EFFECT=progress_right_mirror REPLACE=1
    #No fadetime as should match endstate of setup and want to transition to this quickly
    LED_TIMEOUT
[gcode_macro LED_COMPLETE]
gcode:
    SET_GCODE_VARIABLE MACRO=LED_TIMEOUT_STATE VARIABLE=laststate VALUE="'LED_COMPLETE'"
    SET_LED_EFFECT EFFECT=complete REPLACE=1 FADETIME=0.25
    LED_TIMEOUT

[gcode_macro LED_CONNECTED]
# Pulse the info LED effect to indicate connection made
gcode:
    SET_LED_EFFECT EFFECT=connected REPLACE=1 FADETIME=0.25
    UPDATE_DELAYED_GCODE ID=STOP_CONNECTED DURATION=0.5
    LED_TIMEOUT
# Paired with:
[delayed_gcode STOP_CONNECTED]
gcode:
    SET_LED_EFFECT EFFECT=ready REPLACE=1 FADETIME=0.25
    LED_TIMEOUT
[gcode_macro LED_READY]
gcode:
    SET_GCODE_VARIABLE MACRO=LED_TIMEOUT_STATE VARIABLE=laststate VALUE="'LED_READY'"
    SET_LED_EFFECT EFFECT=ready REPLACE=1 FADETIME=0.25
    LED_TIMEOUT

[gcode_macro LED_SETUP_PROGRESS]
gcode:
    SET_GCODE_VARIABLE MACRO=LED_TIMEOUT_STATE VARIABLE=laststate VALUE="'LED_SETUP_PROGRESS'"
    SET_LED_EFFECT EFFECT=setup_left REPLACE=1 FADETIME=0.25
    SET_LED_EFFECT EFFECT=setup_left_mirror REPLACE=1 FADETIME=0.25
    SET_LED_EFFECT EFFECT=setup_right REPLACE=1 FADETIME=0.25
    SET_LED_EFFECT EFFECT=setup_right_mirror REPLACE=1 FADETIME=0.25
    LED_TIMEOUT


## LED EFFECT DEFINITIONS

# ERROR / WARNING / INFO STATES

[led_effect error]
autostart:              false
run_on_error:           true
frame_rate:             24
leds:
    neopixel:Left
    neopixel:Right
layers:
    breathing  1 0 add (1,0,0)
    static 1 0 top (0,0,0)

[led_effect warning]
autostart:              false
frame_rate:             24
leds:
    neopixel:Left
    neopixel:Right
layers:
    breathing  3 0 add (1,.65,0)
    static 1 0 top (0,0,0)

[led_effect info]
autostart:              false
frame_rate:             24
smooth_transitions: true
leds:
    neopixel:Left
    neopixel:Right
layers:
    breathing 3 1 add (0.6, 0.45, 0.3)
    static    1  1 top (0.4, 0.3, 0.2)

[led_effect connected]
autostart:              false
frame_rate:             24
smooth_transitions: true
leds:
    neopixel:Left
    neopixel:Right
layers:
    static  1 0 add (0.8, 0.6, 0.4)

# IDLE / ALWAYS ON

[led_effect ready]
autostart:              true
frame_rate:             24
smooth_transitions: true
leds:
    neopixel:Left
    neopixel:Right
layers:
    breathing 10 1 add (0.2, 0.15, 0.1)
    static    1  1 top (0.4, 0.3, 0.2)



# PRINT SETUP PROGRESS x4 TO ACHIEVE DESIRED EFFECT

[led_effect setup_left]
autostart:              false
frame_rate:             24
recalculate: true
smooth_transitions: true
moving_average_time: 2

leds:
    neopixel:Left (1-20)
layers:
    progress 40 0 add (0.4, 0.3, 0.2),(0.2, 0.15, 0.1)
    static    1  1 top (0.2, 0.15, 0.1)


[led_effect setup_left_mirror]
autostart:              false
frame_rate:             24
recalculate: true
smooth_transitions: true
moving_average_time: 2

leds:
    neopixel:Left (40-21)
layers:
    progress 40 0 add (0.4, 0.3, 0.2),(0.2, 0.15, 0.1)
    static    1  1 top (0.2, 0.15, 0.1)


[led_effect setup_right]
autostart:              false
frame_rate:             24
recalculate: true
smooth_transitions: true
moving_average_time: 2

leds:
    neopixel:Right (1-20)
layers:
    progress 40 0 add (0.4, 0.3, 0.2),(0.2, 0.15, 0.1)
    static    1  1 top (0.2, 0.15, 0.1)


[led_effect setup_right_mirror]
autostart:              false
frame_rate:             24
recalculate: true
smooth_transitions: true
moving_average_time: 2

leds:
    neopixel:Right (40-21)
layers:
    progress 40 0 add (0.4, 0.3, 0.2),(0.2, 0.15, 0.1)
    static    1  1 top (0.2, 0.15, 0.1)




# PRINT PROGRESS x4 TO ACHIEVE DESIRED EFFECT

[led_effect progress_left]
autostart:              false
frame_rate:             24
smooth_transitions: true
moving_average_time: 0.30

leds:
    neopixel:Left (1-20)
layers:
    progress 40 0 add (0.6, 0.45, 0.3),(0.4, 0.3, 0.2)
    static  1 0 top (0.4, 0.3, 0.2)

[led_effect progress_left_mirror]
autostart:              false
frame_rate:             24
smooth_transitions: true
moving_average_time: 0.30

leds:
    neopixel:Left (40-21)
layers:
    progress 40 0 add (0.6, 0.45, 0.3),(0.4, 0.3, 0.2)
    static  1 0 top (0.4, 0.3, 0.2)

[led_effect progress_right]
autostart:              false
frame_rate:             24
smooth_transitions: true
moving_average_time: 0.30

leds:
    neopixel:Right (1-20)
layers:
    progress 40 0 add (0.6, 0.45, 0.3),(0.4, 0.3, 0.2)
    static  1 0 top (0.4, 0.3, 0.2)

[led_effect progress_right_mirror]
autostart:              false
frame_rate:             24
smooth_transitions: true
moving_average_time: 0.30

leds:
    neopixel:Right (40-21)
layers:
    progress 40 0 add (0.6, 0.45, 0.3),(0.4, 0.3, 0.2)
    static  1 0 top (0.4, 0.3, 0.2)

# Print complete

[led_effect complete]
autostart:              false
frame_rate:             24
smooth_transitions: true
leds:
    neopixel:Left
    neopixel:Right
layers:
    breathing 5 1 add (.3, .5, .12)
    static 1 1 top (.3, 0.5, .12)


