[gcode_macro TOOLHEAD_CONNECT]
description: Called when toolhead is reconnected with the umbilical
gcode:
    {% set last = printer["gcode_macro TOOLHEAD_DISCONNECT"].last_partfan_s|int %}
    {% if last > 0 %}
        M106 S{last}
    {% endif  %}

    M104 S0

    {% if printer["filament_switch_sensor my_sensor"].filament_detected %}
      LOAD_FILAMENT
    {% endif %}


[gcode_macro TOOLHEAD_DISCONNECT]
description: Called when toolhead is disconnected with the umbilical
variable_last_partfan_s: 0
gcode:
    {% set cur = (printer.fan.speed * 255)|int %}
    SET_GCODE_VARIABLE MACRO=TOOLHEAD_DISCONNECT VARIABLE=last_partfan_s VALUE={cur}
    # Turn fan off
    M106 S0
    M104 S0

    # Optional: pause if printing
    {% if printer.print_stats.state == "printing" %}
        PAUSE
    {% endif %}


[gcode_macro TOOLHEAD_UMBILICAL_UNLOCK_BUTTON_PRESSED]
gcode:
    #TODO: IMPLIMENT A CHECK TO SEE IF FILAMENT HAS BEEN CUT YET
    FORCE_MOVE STEPPER=extruder DISTANCE=-16 VELOCITY=10 ACCEL=100
    #TURN EXTRUDER MOTOR OFF IF WAS ALREADY OFF TO LIMIT CURRENT DRAW, reinstate if released
    # SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=0
    #TURN OFF HEATER AS WELL TO LIMIT CURRENT DRAW, REINSTATE TEMPERATURE IF RELEASED